.homecard {
  background-image: url(../Images/Home2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 900px ;
}


.titulo {
  color: rgb(17, 3, 3);
  flex-direction: column;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: 6px 6px 4px rgba(44, 11, 34, 0.473);
  font-size: 70px;
  position: relative;
  text-align: left;
  margin-left: 700px;
}
.imagen {
  border-radius: 5%;
  justify-content: center;
  height: 500px;
  width: 600px;
  max-width: 350px;
  max-height: 450px;
  font-size: 30px;
  float: left;
  margin-left: 200px;
}
.nuevo {
  background-color: yellow;
}
.texto {
  font-size: 50px;
  text-align: center;
}

.texto1 {
  font-size: 30px;
}

.margin {
  margin-top: 200px;
  margin-left: 700px;
  
}
