.home {
    background-image: url(../Images/19.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    
  }
  
  .center {
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .center a {
    text-decoration:none;
    color:black;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
    margin-left: 2%;
  }
  .tit{
    text-decoration:none;
    color:black;
  }
  
  